body {
    font-family: Poppins, sans-serif;
    margin: 0;
    background-color: #f4f4f4; }

header {
    display: flex;
    justify-content: space-between;
    align-items: center; padding: 20px;
    background-color: #ffcb05; }

header img {
    height: 60px;
}

header h1 {
    font-size: 36px;
    color: black;
    margin: 0 auto;
    font-weight: 600;
}

.login-form {
    display: flex;
    gap: 10px;
}

.login-form input {
    width: 200px;
    height: 25px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
}

.login-form button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 500;
}

.search-section {
    text-align: center;
    margin-top: 30px;
}

.search-section input {
    padding: 10px;
    width: 400px;
    margin-right: 10px;
}

.search-section button {
    padding: 10px 15px;
    background-color: #3d7216;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 12px;
    border: 2px solid #ccc;
    text-align: center;
}

img.pokemon {
    max-width: 100px;
    height: auto;
}

img.tipo {
    max-width: 100px;
    height: auto;
}

.boton-agregar {
    padding: 10px 15px;
    background-color: #3d7216;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.error-message {
    color: #ed4337;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.link-nombre {
    text-decoration: none;
    color: inherit;
}

.link-nombre:hover {
    text-decoration: underline;
    color: inherit;
}

.link-nombre:visited,
.link-nombre:active {
    color: inherit;
}


.pokemon-detalle {
    display: flex;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 30px auto;
    align-items: flex-start;
}

.imagen-grande img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.contenido {
    flex: 1;
}

.contenido h2 {
    margin: 0 0 10px 0;
    font-size: 28px;
}

.tipos {
    margin-bottom: 15px;
}

.tipos img {
    height: 25px;
}

.contenido p {
    color: #555;
    line-height: 1.6;
}